.jc-table table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.jc-table  table thead tr {
  height: 30px;
}

.jc-table table thead {
  background: #dbdbdb;
}

.jc-table table thead th {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
  min-width: 150px;
  padding: 5px 10px;
}

.jc-table tbody tr {
  color: #808080;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
  height: 60px;
}

.jc-table tbody td {
  padding: 0 10px;
  text-align: center;
}

.jc-table tbody tr:nth-child(even) {
  background: #f5f5f5;
}

@media screen and (max-width: 640px) {
  .jc-table table {
    width: 100%;
  }

  .jc-table table caption {
      background-image: none;
  }

  .jc-table table thead {
      display: none;
  }

  .jc-table table tbody td {
      display: block;
      padding: .6rem;
      text-align: left;
  }

  .jc-table table tbody tr td:first-child {
      background: #dbdbdb; 
      color: #fff;
  }

  .jc-table table tbody tr td:first-child a {
      color: #fff;
  }

  .jc-table table tbody tr td:first-child:before {
      color: #fff;
  }

  .jc-table table tbody td:before {
      content: attr(data-th);
      color: #555;
      display: inline-block;
      width: 10rem;
  }

  .jc-table table tbody .emptyData td:before {
    display: none;
  }
  
  .jc-table table tbody td > div {
    display: inline-block;
  }

  .jc-table table tr th:last-child, table tr td:last-child {
      max-width: 100% !important;
      min-width: 100px !important;
      width: 100% !important;
  }

  .jc-table tbody tr:nth-child(even) {
    background: #fff;
  }
}